# MySQL-Front 5.1  (Build 2.7)

/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE */;
/*!40101 SET SQL_MODE='STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES */;
/*!40103 SET SQL_NOTES='ON' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS */;
/*!40014 SET FOREIGN_KEY_CHECKS=0 */;


# Host: 127.0.0.1    Database: exam
# ------------------------------------------------------
# Server version 5.6.24-log

DROP DATABASE IF EXISTS `exam`;
CREATE DATABASE `exam` /*!40100 DEFAULT CHARACTER SET utf8 */;
USE `exam`;

#
# Source for table admin
#

DROP TABLE IF EXISTS `admin`;
CREATE TABLE `admin` (
  `Id` int(11) NOT NULL AUTO_INCREMENT,
  `loginId` varchar(32) DEFAULT NULL,
  `loginPsw` varchar(32) DEFAULT NULL,
  `loginName` varchar(32) DEFAULT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8;

#
# Dumping data for table admin
#
LOCK TABLES `admin` WRITE;
/*!40000 ALTER TABLE `admin` DISABLE KEYS */;

INSERT INTO `admin` VALUES (1,'admin','admin','管理员');
/*!40000 ALTER TABLE `admin` ENABLE KEYS */;
UNLOCK TABLES;

#
# Source for table course
#

DROP TABLE IF EXISTS `course`;
CREATE TABLE `course` (
  `CID` bigint(20) NOT NULL AUTO_INCREMENT,
  `stuID` int(11) NOT NULL DEFAULT '0',
  `XKid` bigint(20) DEFAULT NULL,
  `TeaID` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`CID`),
  KEY `xk` (`TeaID`,`XKid`),
  KEY `student` (`stuID`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8;

#
# Dumping data for table course
#
LOCK TABLES `course` WRITE;
/*!40000 ALTER TABLE `course` DISABLE KEYS */;

INSERT INTO `course` VALUES (1,1,1,2);
INSERT INTO `course` VALUES (2,1,3,3);
INSERT INTO `course` VALUES (3,1,6,5);
/*!40000 ALTER TABLE `course` ENABLE KEYS */;
UNLOCK TABLES;

#
# Source for table daanjuan
#

DROP TABLE IF EXISTS `daanjuan`;
CREATE TABLE `daanjuan` (
  `DaJuan` bigint(20) NOT NULL AUTO_INCREMENT,
  `idStu` bigint(11) DEFAULT NULL,
  `xuanze1` varchar(2) DEFAULT NULL,
  `xuanze2` varchar(2) DEFAULT NULL,
  `xuanze3` varchar(2) DEFAULT NULL,
  `xuanze4` varchar(2) DEFAULT NULL,
  `xuanze5` varchar(2) DEFAULT NULL,
  `xuanze6` varchar(2) DEFAULT NULL,
  `xuanze7` varchar(2) DEFAULT NULL,
  `xuanze8` varchar(2) DEFAULT NULL,
  `xuanze9` varchar(2) DEFAULT NULL,
  `xuanze10` varchar(2) DEFAULT NULL,
  `pangduan1` varchar(2) DEFAULT NULL,
  `pangduan2` varchar(2) DEFAULT NULL,
  `pangduan3` varchar(2) DEFAULT NULL,
  `pangduan4` varchar(2) DEFAULT NULL,
  `pangduan5` varchar(2) DEFAULT NULL,
  `pangduan6` varchar(2) DEFAULT NULL,
  `pangduan7` varchar(2) DEFAULT NULL,
  `pangduan8` varchar(2) DEFAULT NULL,
  `pangduan9` varchar(2) DEFAULT NULL,
  `pangduan10` varchar(2) DEFAULT NULL,
  `zhuguan1` varchar(255) DEFAULT NULL,
  `zhuguan2` varchar(255) DEFAULT NULL,
  `zhuguan3` varchar(255) DEFAULT NULL,
  `zuZhuFenShu` int(9) DEFAULT NULL,
  `zongFen` int(9) DEFAULT NULL,
  `shijuan` bigint(20) NOT NULL DEFAULT '0',
  `date` date DEFAULT NULL,
  `XKname` varchar(32) DEFAULT NULL,
  PRIMARY KEY (`DaJuan`),
  KEY `shijuan` (`shijuan`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8;

#
# Dumping data for table daanjuan
#
LOCK TABLES `daanjuan` WRITE;
/*!40000 ALTER TABLE `daanjuan` DISABLE KEYS */;

INSERT INTO `daanjuan` VALUES (1,1,'A','-1','A','-1','-1','-1','-1','-1','-1','-1','-1','-1','-1','-1','-1','-1','-1','-1','-1','-1','-1','-1','-1',0,0,7,'2016-01-11','JAVA');
INSERT INTO `daanjuan` VALUES (2,2,'-1','-1','-1','-1','-1','-1','-1','-1','-1','-1','0','1','0','0','-1','1','0','1','0','-1','-1','-1','-1',8,0,7,'2016-01-11','JAVA');
/*!40000 ALTER TABLE `daanjuan` ENABLE KEYS */;
UNLOCK TABLES;

#
# Source for table keguan
#

DROP TABLE IF EXISTS `keguan`;
CREATE TABLE `keguan` (
  `KGid` bigint(20) NOT NULL AUTO_INCREMENT,
  `Type` varchar(8) DEFAULT NULL,
  `XKid` bigint(20) DEFAULT NULL,
  `TiMu` varchar(255) DEFAULT NULL,
  `DaAn` varchar(255) DEFAULT NULL,
  `TeaID` bigint(20) NOT NULL DEFAULT '0',
  PRIMARY KEY (`KGid`),
  UNIQUE KEY `TiMu` (`TiMu`),
  KEY `kg` (`TeaID`,`XKid`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8;

#
# Dumping data for table keguan
#
LOCK TABLES `keguan` WRITE;
/*!40000 ALTER TABLE `keguan` DISABLE KEYS */;

INSERT INTO `keguan` VALUES (1,'hard',1,'Java中的HashMap的工作原理是什么？',NULL,2);
INSERT INTO `keguan` VALUES (2,'hard',2,'你了解大O符号(big-O notation)么？你能给出不同数据结构的例子么？',NULL,3);
INSERT INTO `keguan` VALUES (3,'hard',1,'HashMap和Hashtable有什么区别？',NULL,2);
/*!40000 ALTER TABLE `keguan` ENABLE KEYS */;
UNLOCK TABLES;

#
# Source for table mingyan
#

DROP TABLE IF EXISTS `mingyan`;
CREATE TABLE `mingyan` (
  `ID` int(11) NOT NULL AUTO_INCREMENT,
  `YuJu` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8;

#
# Dumping data for table mingyan
#
LOCK TABLES `mingyan` WRITE;
/*!40000 ALTER TABLE `mingyan` DISABLE KEYS */;

INSERT INTO `mingyan` VALUES (1,'放开往日的学习中的紧张，用一颗平常心去轻松面对，相信你会考出自己理想的成绩的。愿好运一直陪伴着你！');
INSERT INTO `mingyan` VALUES (2,'悲观些看成功，乐观些看失败。轻松些看自己，宽容些看别人。理智些不问收获，但问耕耘！天道酬勤。');
INSERT INTO `mingyan` VALUES (3,'人生终有许多选择。每一步都要慎重。但是一次选择不能决定一切。不要犹豫，作出选择就不要后悔。只要我们能不屈不挠地奋斗，胜利就在前方。');
/*!40000 ALTER TABLE `mingyan` ENABLE KEYS */;
UNLOCK TABLES;

#
# Source for table pangduan
#

DROP TABLE IF EXISTS `pangduan`;
CREATE TABLE `pangduan` (
  `PDid` bigint(20) NOT NULL AUTO_INCREMENT,
  `Type` varchar(8) DEFAULT NULL,
  `XKid` bigint(20) DEFAULT NULL,
  `TiMu` varchar(255) DEFAULT NULL,
  `DaAn` varchar(2) DEFAULT NULL,
  `TeaID` bigint(20) NOT NULL DEFAULT '0',
  PRIMARY KEY (`PDid`),
  UNIQUE KEY `TiMu` (`TiMu`),
  KEY `pd` (`TeaID`,`XKid`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8;

#
# Dumping data for table pangduan
#
LOCK TABLES `pangduan` WRITE;
/*!40000 ALTER TABLE `pangduan` DISABLE KEYS */;

INSERT INTO `pangduan` VALUES (1,'hard',1,'Java的各种数据类型所占用的内存长度与具体软硬件环境有关。（   ）','0',2);
INSERT INTO `pangduan` VALUES (2,'hard',1,'在Java的方法中定义一个常量要用const关键字。（   ）','0',2);
INSERT INTO `pangduan` VALUES (3,'hard',1,'Java的类不允许多重继承，但接口支持多重继承。（   ）','1',2);
/*!40000 ALTER TABLE `pangduan` ENABLE KEYS */;
UNLOCK TABLES;

#
# Source for table shijuan
#

DROP TABLE IF EXISTS `shijuan`;
CREATE TABLE `shijuan` (
  `sjID` bigint(20) NOT NULL AUTO_INCREMENT,
  `xuanze5` bigint(20) DEFAULT NULL,
  `xuanze1` bigint(20) DEFAULT NULL,
  `xuanze2` bigint(20) DEFAULT NULL,
  `xuanze3` bigint(20) DEFAULT NULL,
  `xuanze4` bigint(20) DEFAULT NULL,
  `xuanze6` bigint(20) DEFAULT NULL,
  `xuanze7` bigint(20) DEFAULT NULL,
  `xuanze8` bigint(20) DEFAULT NULL,
  `xuanze9` bigint(20) DEFAULT NULL,
  `xuanze10` bigint(20) DEFAULT NULL,
  `pangduan1` bigint(20) DEFAULT NULL,
  `pangduan2` bigint(20) DEFAULT NULL,
  `pangduan3` bigint(20) DEFAULT NULL,
  `pangduan4` bigint(20) DEFAULT NULL,
  `pangduan5` bigint(20) DEFAULT NULL,
  `pangduan6` bigint(20) DEFAULT NULL,
  `pangduan7` bigint(20) DEFAULT NULL,
  `pangduan8` bigint(20) DEFAULT NULL,
  `pangduan9` bigint(20) DEFAULT NULL,
  `pangduan10` bigint(20) DEFAULT NULL,
  `zhuguan1` bigint(20) DEFAULT NULL,
  `zhuguan2` bigint(20) DEFAULT NULL,
  `zhuguan3` bigint(20) DEFAULT NULL,
  `StuID` bigint(20) DEFAULT NULL,
  `NameXK` varchar(32) DEFAULT NULL,
  PRIMARY KEY (`sjID`),
  KEY `xz3` (`xuanze3`),
  KEY `xz1` (`xuanze1`),
  KEY `xz2` (`xuanze2`),
  KEY `xz4` (`xuanze4`),
  KEY `xz5` (`xuanze5`),
  KEY `xz6` (`xuanze6`),
  KEY `xz7` (`xuanze7`),
  KEY `xz8` (`xuanze8`),
  KEY `xz9` (`xuanze9`),
  KEY `xz10` (`xuanze10`),
  KEY `pd2` (`pangduan2`),
  KEY `pd3` (`pangduan3`),
  KEY `pd4` (`pangduan4`),
  KEY `pd5` (`pangduan5`),
  KEY `pd6` (`pangduan6`),
  KEY `pd7` (`pangduan7`),
  KEY `pd9` (`pangduan9`),
  KEY `pd10` (`pangduan10`),
  KEY `zg1` (`zhuguan1`),
  KEY `zg2` (`zhuguan2`),
  KEY `zg3` (`zhuguan3`),
  KEY `pd1` (`pangduan1`),
  KEY `pd8` (`pangduan8`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8 ROW_FORMAT=COMPACT;

#
# Dumping data for table shijuan
#
LOCK TABLES `shijuan` WRITE;
/*!40000 ALTER TABLE `shijuan` DISABLE KEYS */;

INSERT INTO `shijuan` VALUES (1,4,11,12,16,7,8,10,9,5,2,18,11,12,5,1,10,8,6,7,4,6,5,3,1,'JAVA');
INSERT INTO `shijuan` VALUES (2,3,12,11,13,5,1,7,9,8,10,13,11,17,9,5,4,2,1,7,10,7,3,4,1,'JAVA');
INSERT INTO `shijuan` VALUES (3,9,13,11,17,7,10,3,5,1,4,18,11,12,8,1,9,10,7,4,5,8,1,5,1,'JAVA');
/*!40000 ALTER TABLE `shijuan` ENABLE KEYS */;
UNLOCK TABLES;

#
# Source for view stucourse
#

DROP VIEW IF EXISTS `stucourse`;
CREATE ALGORITHM=UNDEFINED SQL SECURITY DEFINER VIEW `stucourse` AS select `stu`.`id` AS `id`,`stu`.`idStu` AS `idStu`,`stu`.`nameStu` AS `nameStu`,`daan`.`XKname` AS `XKname`,`daan`.`DaJuan` AS `DaJuan`,`daan`.`shijuan` AS `shijuan`,`daan`.`date` AS `date`,`daan`.`zongFen` AS `zongFen`,`daan`.`zuZhuFenShu` AS `zuZhuFenShu` from (`student` `stu` join `daanjuan` `daan`) where (`stu`.`id` = `daan`.`idStu`);
INSERT INTO `stucourse` VALUES (1,'221200214','林俊鑫','JAVA',1,7,'2016-01-11',0,0);
INSERT INTO `stucourse` VALUES (2,'221200213','林德强','JAVA',2,7,'2016-01-11',0,8);
/*!40000 ALTER TABLE `stucourse` ENABLE KEYS */;
UNLOCK TABLES;

#
# Source for table student
#

DROP TABLE IF EXISTS `student`;
CREATE TABLE `student` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `idStu` varchar(32) NOT NULL DEFAULT '',
  `nameStu` varchar(255) NOT NULL,
  `pswStu` varchar(255) NOT NULL,
  `emailStu` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `stuID` (`idStu`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8;

#
# Dumping data for table student
#
LOCK TABLES `student` WRITE;
/*!40000 ALTER TABLE `student` DISABLE KEYS */;

INSERT INTO `student` VALUES (1,'221200214','林俊鑫','350322','469714793@qq.com');
INSERT INTO `student` VALUES (2,'221200213','林德强','174979','892285963@qq.com');
INSERT INTO `student` VALUES (3,'221200215','罗樱','011244','1024489308@qq.com');
/*!40000 ALTER TABLE `student` ENABLE KEYS */;
UNLOCK TABLES;

#
# Source for table teacher
#

DROP TABLE IF EXISTS `teacher`;
CREATE TABLE `teacher` (
  `Name` varchar(32) DEFAULT NULL,
  `PwsTea` varchar(32) DEFAULT NULL,
  `EmailTea` varchar(32) DEFAULT NULL,
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `TeaID` varchar(32) DEFAULT NULL,
  `NamePY` varchar(32) DEFAULT NULL,
  `usedName` varchar(32) DEFAULT NULL,
  `sex` varchar(32) DEFAULT NULL,
  `bornDate` date DEFAULT NULL,
  `country` varchar(32) DEFAULT NULL,
  `mingzu` varchar(32) DEFAULT NULL,
  `zhengzhiMM` varchar(32) DEFAULT NULL,
  `BornWhere` varchar(64) DEFAULT NULL,
  `hunyin` varchar(32) DEFAULT NULL,
  `jiguan` varchar(32) DEFAULT NULL,
  `shenfenID` varchar(64) DEFAULT NULL,
  `jiaoshiID` varchar(64) DEFAULT NULL,
  `xueyuan` varchar(255) DEFAULT NULL,
  `zhuanye` varchar(255) DEFAULT NULL,
  `ruzhiFS` varchar(64) DEFAULT NULL,
  `zhiwei` varchar(32) DEFAULT NULL,
  `ruzhiDate` date DEFAULT NULL,
  `renqi` varchar(32) DEFAULT NULL,
  `zhiweiChange` text,
  `zhuyaoChengjiu` text,
  `renjiaoXK` text,
  `Tel` varchar(32) DEFAULT NULL,
  `sushe` text,
  `susheTEL` varchar(32) DEFAULT NULL,
  `Home` text,
  `HomeTEL` varchar(32) DEFAULT NULL,
  `youbian` varchar(12) DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `TeaID` (`TeaID`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8;

#
# Dumping data for table teacher
#
LOCK TABLES `teacher` WRITE;
/*!40000 ALTER TABLE `teacher` DISABLE KEYS */;

INSERT INTO `teacher` VALUES ('单红','123456','mycpp20@sina.cn',1,'031256','shanhong','','男','1978-12-30','中国','汉','党员','福建','已婚','福建','未知','1132212031256','软件学院','软件工程','正常入职','讲师','2007-12-30','20年','','','软件工程等学科','','','','','','');
INSERT INTO `teacher` VALUES ('张舒','123456','469714793@qq.com',2,'031234',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL);
INSERT INTO `teacher` VALUES ('陈嘉','123456','mycpp20@sina.cn',3,'031278',NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `teacher` ENABLE KEYS */;
UNLOCK TABLES;

#
# Source for table tiankong
#

DROP TABLE IF EXISTS `tiankong`;
CREATE TABLE `tiankong` (
  `TDid` bigint(20) NOT NULL AUTO_INCREMENT,
  `Type` varchar(8) DEFAULT NULL,
  `XKid` bigint(20) DEFAULT NULL,
  `TiMu` varchar(255) DEFAULT NULL,
  `DaAn` varchar(255) DEFAULT NULL,
  `TeaID` bigint(20) NOT NULL DEFAULT '0',
  PRIMARY KEY (`TDid`),
  UNIQUE KEY `TiMu` (`TiMu`),
  KEY `tk` (`TeaID`,`XKid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

#
# Dumping data for table tiankong
#
LOCK TABLES `tiankong` WRITE;
/*!40000 ALTER TABLE `tiankong` DISABLE KEYS */;

/*!40000 ALTER TABLE `tiankong` ENABLE KEYS */;
UNLOCK TABLES;

#
# Source for view user
#

DROP VIEW IF EXISTS `user`;
CREATE ALGORITHM=UNDEFINED SQL SECURITY DEFINER VIEW `user` AS (select `u`.`idStu` AS `id`,`u`.`pswStu` AS `psw`,`u`.`nameStu` AS `name` from `student` `u`) union (select `u`.`loginId` AS `id`,`u`.`loginPsw` AS `psw`,`u`.`loginName` AS `name` from `admin` `u`) union (select `u`.`TeaID` AS `id`,`u`.`PwsTea` AS `psw`,`u`.`Name` AS `name` from `teacher` `u`);
INSERT INTO `user` VALUES ('221200214','350322','林俊鑫');
INSERT INTO `user` VALUES ('221200213','174979','林德强');
INSERT INTO `user` VALUES ('221200215','011244','罗樱');
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

#
# Source for table xueke
#

DROP TABLE IF EXISTS `xueke`;
CREATE TABLE `xueke` (
  `XKid` bigint(20) NOT NULL AUTO_INCREMENT,
  `NameXK` varchar(32) DEFAULT NULL,
  `TeaID` bigint(20) NOT NULL,
  PRIMARY KEY (`XKid`,`TeaID`),
  KEY `TeaID` (`TeaID`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8;

#
# Dumping data for table xueke
#
LOCK TABLES `xueke` WRITE;
/*!40000 ALTER TABLE `xueke` DISABLE KEYS */;

INSERT INTO `xueke` VALUES (1,'JAVA',2);
INSERT INTO `xueke` VALUES (2,'JAVA',3);
INSERT INTO `xueke` VALUES (3,'操作系统',3);
/*!40000 ALTER TABLE `xueke` ENABLE KEYS */;
UNLOCK TABLES;

#
# Source for table xuenze
#

DROP TABLE IF EXISTS `xuenze`;
CREATE TABLE `xuenze` (
  `XZid` bigint(20) NOT NULL AUTO_INCREMENT,
  `Type` varchar(8) DEFAULT NULL,
  `XKid` bigint(20) NOT NULL DEFAULT '0',
  `TiMu` varchar(255) DEFAULT NULL,
  `DaAn` varchar(2) DEFAULT NULL,
  `A` varchar(255) NOT NULL DEFAULT '',
  `B` varchar(255) DEFAULT NULL,
  `C` varchar(255) DEFAULT NULL,
  `D` varchar(255) DEFAULT NULL,
  `TeaID` bigint(20) NOT NULL DEFAULT '0',
  PRIMARY KEY (`XZid`),
  UNIQUE KEY `TiMu` (`TiMu`),
  KEY `xzTOxk` (`TeaID`,`XKid`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8;

#
# Dumping data for table xuenze
#
LOCK TABLES `xuenze` WRITE;
/*!40000 ALTER TABLE `xuenze` DISABLE KEYS */;

INSERT INTO `xuenze` VALUES (1,'hard',1,'下列关于this关键字的说法正确的是（  ）。','C','可以在构造函数内部通过this关键字调用同类的另一构造函数，并且此调用语句可以位于该构造函数内部的任意位置处','可以在构造函数内部通过this关键字调用同类的两个或两个以上的构造函数','在类的静态方法中可通过this关键字访问本类对象','当方法的形参和类的成员变量同名时，可以使用this关键字指明成员变量',2);
INSERT INTO `xuenze` VALUES (2,'hard',2,'下列关于静态初始化器的说法错误的是（  ）。','D','静态初始化器是在类加载到内存时由系统调用执行的','静态初始化器可执行多次','静态初始化器中不能出现非静态域或非静态方法','静态初始化器不是方法，因此没有方法名、返回值和参数列表',3);
INSERT INTO `xuenze` VALUES (3,'hard',1,'以下代码段 Point  p1=new Point(2,3);  Point  p2=new Point(4,5);  p1=p2;\r\n(Point为点类)的执行结果是（  ）。\r\n','A','p1所指Point对象的成员更新为4，5','以上代码段不能通过编译','p1和p2均指向原p2所指对象，原p1所指对象将被垃圾收集器收集','p1为null, 原p1所指对象将被垃圾收集器收集',2);
/*!40000 ALTER TABLE `xuenze` ENABLE KEYS */;
UNLOCK TABLES;

#
#  Foreign keys for table course
#

ALTER TABLE `course`
ADD CONSTRAINT `student` FOREIGN KEY (`stuID`) REFERENCES `student` (`id`),
ADD CONSTRAINT `xk` FOREIGN KEY (`TeaID`, `XKid`) REFERENCES `xueke` (`TeaID`, `XKid`);

#
#  Foreign keys for table daanjuan
#

ALTER TABLE `daanjuan`
ADD CONSTRAINT `shijuan` FOREIGN KEY (`shijuan`) REFERENCES `shijuan` (`sjID`);

#
#  Foreign keys for table keguan
#

ALTER TABLE `keguan`
ADD CONSTRAINT `kg` FOREIGN KEY (`TeaID`, `XKid`) REFERENCES `xueke` (`TeaID`, `XKid`);

#
#  Foreign keys for table pangduan
#

ALTER TABLE `pangduan`
ADD CONSTRAINT `pd` FOREIGN KEY (`TeaID`, `XKid`) REFERENCES `xueke` (`TeaID`, `XKid`);

#
#  Foreign keys for table shijuan
#

ALTER TABLE `shijuan`
ADD CONSTRAINT `pd1` FOREIGN KEY (`pangduan1`) REFERENCES `pangduan` (`PDid`),
ADD CONSTRAINT `pd10` FOREIGN KEY (`pangduan10`) REFERENCES `pangduan` (`PDid`),
ADD CONSTRAINT `pd2` FOREIGN KEY (`pangduan2`) REFERENCES `pangduan` (`PDid`),
ADD CONSTRAINT `pd3` FOREIGN KEY (`pangduan3`) REFERENCES `pangduan` (`PDid`),
ADD CONSTRAINT `pd4` FOREIGN KEY (`pangduan4`) REFERENCES `pangduan` (`PDid`),
ADD CONSTRAINT `pd5` FOREIGN KEY (`pangduan5`) REFERENCES `pangduan` (`PDid`),
ADD CONSTRAINT `pd6` FOREIGN KEY (`pangduan6`) REFERENCES `pangduan` (`PDid`),
ADD CONSTRAINT `pd7` FOREIGN KEY (`pangduan7`) REFERENCES `pangduan` (`PDid`),
ADD CONSTRAINT `pd8` FOREIGN KEY (`pangduan8`) REFERENCES `pangduan` (`PDid`),
ADD CONSTRAINT `pd9` FOREIGN KEY (`pangduan9`) REFERENCES `pangduan` (`PDid`),
ADD CONSTRAINT `xz1` FOREIGN KEY (`xuanze1`) REFERENCES `xuenze` (`XZid`),
ADD CONSTRAINT `xz10` FOREIGN KEY (`xuanze10`) REFERENCES `xuenze` (`XZid`),
ADD CONSTRAINT `xz2` FOREIGN KEY (`xuanze2`) REFERENCES `xuenze` (`XZid`),
ADD CONSTRAINT `xz3` FOREIGN KEY (`xuanze3`) REFERENCES `xuenze` (`XZid`),
ADD CONSTRAINT `xz4` FOREIGN KEY (`xuanze4`) REFERENCES `xuenze` (`XZid`),
ADD CONSTRAINT `xz5` FOREIGN KEY (`xuanze5`) REFERENCES `xuenze` (`XZid`),
ADD CONSTRAINT `xz6` FOREIGN KEY (`xuanze6`) REFERENCES `xuenze` (`XZid`),
ADD CONSTRAINT `xz7` FOREIGN KEY (`xuanze7`) REFERENCES `xuenze` (`XZid`),
ADD CONSTRAINT `xz8` FOREIGN KEY (`xuanze8`) REFERENCES `xuenze` (`XZid`),
ADD CONSTRAINT `xz9` FOREIGN KEY (`xuanze9`) REFERENCES `xuenze` (`XZid`),
ADD CONSTRAINT `zg1` FOREIGN KEY (`zhuguan1`) REFERENCES `keguan` (`KGid`),
ADD CONSTRAINT `zg2` FOREIGN KEY (`zhuguan2`) REFERENCES `keguan` (`KGid`),
ADD CONSTRAINT `zg3` FOREIGN KEY (`zhuguan3`) REFERENCES `keguan` (`KGid`);

#
#  Foreign keys for table tiankong
#

ALTER TABLE `tiankong`
ADD CONSTRAINT `tk` FOREIGN KEY (`TeaID`, `XKid`) REFERENCES `xueke` (`TeaID`, `XKid`);

#
#  Foreign keys for table xueke
#

ALTER TABLE `xueke`
ADD CONSTRAINT `teaID` FOREIGN KEY (`TeaID`) REFERENCES `teacher` (`ID`);

#
#  Foreign keys for table xuenze
#

ALTER TABLE `xuenze`
ADD CONSTRAINT `xzTOxk` FOREIGN KEY (`TeaID`, `XKid`) REFERENCES `xueke` (`TeaID`, `XKid`);


/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;
/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
